/* variables */
:root {
	--main-font: Roboto;

	/* colors */
	--dark-bg: #303446;
	--dark-text: #c6d0f5;
	--dark-header-footer: #737994;
	--darker-header-footer: #232634;
	--dark-button-background: #414559;
	--dark-red: #e78284;
	--dark-peach: #ef9f76;
	--dark-subtext: rgba(165, 173, 206, .3);
}

body {
	margin: 0;
	font-family: 'JetBrains Mono', monospace;
	font-size: 20px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: var(--dark-text);
	background: var(--dark-bg);
}

header{
	display: flex;
	justify-content: space-between;
	background-color: var(--darker-header-footer);
	margin-top: 0px;
	padding: 10px 20px 10px 20px;
}

footer{
	display: flex;
	justify-content: space-between;
	background-color: var(--darker-header-footer);
	margin-top: 0px;
	padding: 10px 20px 10px 20px;
}
